/* Fonr for headings */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

@import "tailwindcss";


h1,h2,h3{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.tooltip {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: gray;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: gray transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-overlay {
  animation: fadeIn 0.4s ease forwards;
}
